* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

header {
    font-family: Quantico;
    width: 1366px;
    height: 140px;
    background-color: #2D2A2A;
    .barras {
        width: 30px;
        display: none;
    }
}

@font-face {
    font-family: Quantico;
    src: url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
}

.container-grid {
    width: 1366px;
    margin: 0;
    justify-content: space-between;
}

.posi-header {
    width: 1366px;
    height: 100%;
    display: flex;
    align-items: center;
}

.menu {
    width: 900px;
    align-items: flex-start;
    word-spacing: 30px;
}

.menu a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 35px;
    
}

.botaobusca {
   display: inline-flex;
   justify-content: center;
   right: 15%;
}

.banner {
    height: 320px;
    width: 1366px;
    background-image: url(../Imagens/Banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}



.texto-bn {
    color: white;
    font-family: Quantico;
    display: flexbox;
    font-size: 30px;
    text-align: center;
    padding: 10px;
}

.texto-bn h4{
    margin-bottom: 60px;
}



.texto-bn a{
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    
}

.computadores {
    background-color: #2D2A2A;
    display: flex;
    justify-content: center;
    width: 1366px;
    height: 300px;
}

.computadores h1{
    font-family: Quantico;
    color: white;
    display: flex;
    justify-content: center;
}

.pcs {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 80px;
    padding-top: 20px;
    
}
.pcs p{
    color: white;
    padding-top: 5px;
}

.pcsm {
    background-color: #2d2a2a62;
}

#infos {
   background-color:black;
   width: 1366px;
   height: 100px;
}

#infos h4{
    color: white;
    text-shadow: #1d91c770;
}
#infos h6{
    color: white;
    text-shadow: #1d91c770;
}

.cadastro{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

#campoemail {
    width: 270px;
}

.btncadastro {
    display: flex;
    justify-content: center;
    background-color: #0d6efd;
    border: 1px;
    border-color: #0d6efd;
    color: white;
    border-radius: 5px;
    text-indent: 0px;
    text-shadow: none;
    letter-spacing: normal;
    word-spacing: normal;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s;
    margin-top: 10px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    width: 270px;
    height: 35px;
}

.btncadastro:hover {
    background-color: #0a58ca;
    border-color: #0a58ca;
}

.cardnov {
    width: 15em;
    height: 22.5em;
    background: black;
    color: #ffff;
    margin-bottom: 2em;
    box-shadow: 0px 0px 10px rgb(10, 89, 235),0px 0px 30px rgba(10, 89, 235, 0.342);
}

.novidadesbox .container {
    display: flex;
    justify-content: space-between;
}

.cardnov h3{
    padding-left: 20px;
    padding-top: 5px;
    font-size: 24px;
}

.cardnov p{
    padding-left: 20px;
    font-size: 16px;
}

.novidadesbox {
    background-color: #56565760;
    padding: 30px 0 ;
}

.novidadesarea {
    width: 100%;
}

.content-nov {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}

.areacomputadores {
    
}

.listacomputadores {
    width: 12.7em;
    height: 16.5em;
    background: rgb(1, 15, 56);
    color: #ffff;
    margin-bottom: 1em;
    box-shadow: 0px 0px 10px rgb(3, 153, 103),0px 0px 30px rgba(0, 0, 0, 0.342);
}

@media screen and (max-width: 1200px){
    header{
        width: 1200px;
    }
    .container-grid{
        width: 100%;
    }
    .menu{
        width: 460px;
    }
    .menu a{
        font-size: 20px;
    }
    .logo{
        width: 300px;
    }

    .banner {
        width: 1200px;
    }

    .computadores {
        width: 1200px;
    }
    
    #infos {
        width: 1200px;
    }
}

@media screen and (max-width: 990px){
    
    header{
        width: 999px;
    }

    .banner {
        width: 999px;
        height: 200px;
    }
    .banner h1{
        font-size: 30px;
    }
    .banner h4{
        font-size: 20px;
    }
    .banner a{
        width: 130px;
    }

    .computadores {
        width: 999px;
    }

    .menu {
        display: none;
        flex-direction: column;
        width: 200px;        
        background-color: black;
        position: absolute;
        top: 0;
        right: 65px;
    }

    .menu-ativo {
        display: flex;
    }

    .menu a {
        text-align: center;
        padding: 15px;
    }

    .posi-header{
        position: relative;
    }
    .texto-bn button{
        position: relative;
    }

    .btncadastro{
        display: flex;
        justify-content: flex-end;
    }

    #infos {
        width: 999px;
    }

    #infos img {
        width: 35px;
    }
    #campoemail {
        width: 170px;
    }
    
    .btncadastro {
        width: 170px;
    }
}

@media screen and (max-width: 790px){
    header{
        width: 790px;
    }

    .banner{
        width: 790px;
        height: 300px;
    }
    
    .banner h1{
        font-size: 25px;
    }
    .banner h4{
        font-size: 15px;
    }
    .banner a{
        width: 100px;
    }

    .computadores{
        width: 790px;
        
    }

    .computadores h1{
        font-size: 25px;
    }

    .computadores img {
        width: 150px;
    }

    #infos{
        width: 790px;
    }
    #infos img {
        width: 30px;
    }
    #campoemail {
        width: 140px;
    }
    
    .btncadastro {
        width: 140px;
    }
    .cadastro{
        width: 340px;
    }
    
    @media screen and (max-width: 540px){
        header{
            width: 540px;
        }
    
        .banner{
            width: 540px;
        }
    
        .computadores{
            width: 540px;
            height: 600px;
        }
    
        .computadores img {
            width: 100px;
        }
    
        #infos{
            width: 540px;
            height: 300px;
        }
        #infos img {
            width: 15px;
        }
        .cadastro{
            width: 250px;
        }
        #campoemail {
            width: 130px;
        }
        
        .btncadastro {
            width: 130px;
        }
   
}

